.note--box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 15px;
  background-color: #242426;
  margin-top: 3px;
  border-radius: 5px;

  &:hover {
    background-color: #292929;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__icon__box {
    display: flex;
    cursor: pointer;
    height: 20px;
    position: relative;
  }

  &__right--icon {
    display: flex;
  }

  &__body {
    max-width: 1205px;
    word-break: break-word;
    padding-left: 15px;
  }
}