.auth--form {
  position: relative;
  height: 97vh;

  &__window {
    position: absolute;
    margin: 0 auto;
    top: 25%;
    left: 0;
    right: 0;
    background-color: #26282C; //1A191F
    width: 430px;
    padding: 20px 0;
    text-align: center;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 19px 6px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0 0 19px 6px rgba(0, 0, 0, 0.29);
    box-shadow: 0 0 19px 6px rgba(0, 0, 0, 0.29);
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  &__logo__text {
    color: #ffffff;
    font-size: 22px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 3px;
  }

  &__link--box {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
  }

  &__link {
    color: #1a76d5;
    text-decoration: none;
    position: relative;
    margin-left: 5px;
  }

  &__link:before {
    content: "";
    width: 0;
    height: 1px;
    background-color: #1a76d5;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: width 0.3s;
  }

  &__link:hover:before {
    width: 100%;
  }
}