.note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 15px;
  background-color: #242426;
  margin-top: 3px;
  border-radius: 5px;

  &:hover {
    background-color: #292929;
  }

  &__left {
    display: flex;
    align-items: center;
  }


  // Check
  &__check__box {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 2px solid #939393;
    border-radius: 50%;
    position: relative;
  }

  &__check__box:active, &__check__box:active &__check {
    opacity: 1 !important;
    background-color: #939393 !important;
    fill: #000000 !important;
  }

  &__check__box:hover &__check {
    opacity: 1 !important;
  }

  &__check {
    transition: all 0s !important;
    fill: #b2b2b2 !important;
    opacity: 0 !important;
    position: absolute !important;
    top: 14% !important;
    left: 19% !important;
    width: 13px !important;
    height: 13px !important;
  }

  &__check__box__completed {
    background-color: #788cde !important;
    border-color: #788cde !important;
  }

  &__check__box__completed:active, &__check__box:active &__check {
    background: none !important;
    border-color: #939393 !important;
    fill: #242426 !important;
  }

  &__check__completed {
    opacity: 1 !important;
    fill: #000000 !important;
  }


  // Text
  &__text {
    font-size: 15px;
    margin-left: 10px;
  }

  &__text__completed {
    text-decoration: line-through;
  }


  // Important
  &__important {
    cursor: pointer;
  }

  &__important:hover {
    fill: #788cde !important;
  }

  &__important:active {
    fill: #51609d !important;
  }

  &__important__active, &__important__active:hover {
    fill: #616fab !important;
  }

  &__important__active:active {
    fill: #51609d !important;
  }
}
